*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
main{ 
    background-color: blue;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#container {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 300px;

}

select {
    width: 200px; 
    height: 100px; 
    overflow-y: auto;
    
}
select::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    
}
select::-webkit-scrollbar-track {
    background: #ffffff; /* Cor do fundo do trilho */
}
select::-webkit-scrollbar-thumb {
    background: #094d1d; /* Cor do scrool ao rolar */
    border-radius: 4px; /* Arredondar o polegar */
}
li {
    list-style: none;
}
/* Estilo para o polegar ao passar o mouse */
